@page "/edit-event/{id:int}"
@inject IEventRepository EventRepository
@inject NavigationManager Navigation

<PageTitle>
	Edit Event
</PageTitle>


	<div class="row justify-content-center">
		<div class="col-6">
			<EventForm IsEditMode="true" OnValidEventSubmit="EditExistingEvent"></EventForm>
		</div>
	</div>


@code {

	[Parameter]
	public int Id { get; set; }


	private async Task EditExistingEvent(Event eventToEdit)
	{
		await EventRepository.UpdateEventAsync(eventToEdit);
		Navigation.NavigateTo("/");
	}


}
