@page "/EventOverview"
@inject IEventService EventService
@inject IFilmStatusService FilmStatusService
@inject ToasterService Toaster
@inject NavigationManager Navigation
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Event Overview</PageTitle>

<RadzenRow class="rz-mb-6">
	<RadzenButton Click=@(() => {}) Text="Opret event" Icon="add" Shade="Shade.Light" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Small" />
</RadzenRow>

@if (Events == null) 
{
	<h3>Loading...</h3>
}
else 
{
	@foreach(var EventFilmStatus in EventFilmStatuses)
	{
		<EventCard EventFilmStatus="EventFilmStatus" OnUpdateFilmStatus="UpdateFilmStatus" DeleteConfirmation="DeleteEvent"  />
	}
}

@code {
	private List<Event> Events { get; set; } = new();

	private List<(Event, List<FilmStatus>)> EventFilmStatuses { get; set; } = new();

	protected override async Task OnInitializedAsync() 
	{
		Events = await EventService.GetAllEventsAsync();

		foreach (var ev in Events) 
		{
			var filmStatusesFound = new List<FilmStatus>();

			if (ev.Films is not null && ev.Films.Count > 0) {

				foreach (var film in ev.Films!)
				{
					var result = await FilmStatusService.GetFilmStatusByIds(ev.Id, film.Id);

					if (result is not null)
						filmStatusesFound.Add(result);
				}
			}
			EventFilmStatuses.Add((ev, filmStatusesFound));
		}
	}

	private async Task UpdateFilmStatus(FilmStatus filmStatus) 
	{
		var result = await FilmStatusService.UpdateFilmStatusAsync(filmStatus);

		if (result is not null) 
		{
			Toaster.OnSuccess(
				"Filmstatus opdateret",
				$"Filmstatus for {result?.Film?.Title} tilhørende event {result?.Event?.Title} er opdateret.",
				6000
			);
		}
	}

	private async Task DeleteEvent((bool confirmation, int eventId) result) {
		if (result.confirmation)
		{
			var isDeleted = await EventService.DeleteEventById(result.eventId);

			if (isDeleted)
			{
				Toaster.OnSuccess(
					"Sletning af event gennemført!",
					$"Alt data tilhørende Event med id {result.eventId} er slettet.",
					6000
				);

				EventFilmStatuses = EventFilmStatuses
					.Where(efs => efs.Item1.Id != result.eventId && !efs.Item2.Any(fs => fs.EventId == result.eventId))
					.ToList();

				StateHasChanged();
			}
			else 
			{
				Toaster.OnSuccess(
					"Event ikke slettet!",
					$"Fejl opstod under slettelse af Event med id {result.eventId}. Prøv igen.",
					6000
				);
			}
		}
	}
}
