@page "/UserOverview/AddUser"
@inject IUserService UserService
@inject ToasterService Toaster
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Tilføj bruger</PageTitle>

<div class="row justify-content-center">
	<div class="col-6">
		<UserForm IsEditMode="false" UserFromForm="HandleAddUser" />
	</div>
</div>

@code {
	private async Task HandleAddUser(User user)
	{
		try
		{
			var result = await UserService.CreateUserAsync(user);

			if (result is not null)
			{
				Toaster.OnSuccess(
					"Ny burger tilføjet",
					$"Bruger {result?.UserName} tilføjet.",
					6000
				);

				Navigation.NavigateTo("/UserOverview");
			}
		}
		catch (Exception ex)
		{
			Toaster.OnError(
				"Fejl opstået!",
				$"{ex.Message}",
				6000
			);
		}
	}
}
